bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.idea
Folder.DotSettings.user
# yep, my intrusive thoughts will only be left as a small text in Program.cs, other side only accessible to myself :)
schizo.txt